{% extends 'base.html' %}

{% block body %}

<div class="notes-header text-center">
    <div class="message-container">

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show auto-dismiss" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <h1>📚 My Notes</h1>

    <p>
        Your cozy collection of thoughts and ideas.
    </p>

    <a href="{% url 'create_note' %}" class="btn btn-custom">
        + Create New Note
    </a>

</div>

<div class="container">

    <div class="row justify-content-center">

        {% for note in notes %}

        <div class="col-md-5 mb-4">

            <div class="note-card">

                <h3>
                    📒 {{ note.title }}
                </h3>

                <p>
                    {{ note.content|truncatewords:20 }}
                </p>

                <small>
                    ✨ {{ note.created_at }}
                </small>

                <br><br>
<a href="{% url 'edit_note' note.id %}"
   class="btn btn-edit">
    Edit
</a>
                <a href="{% url 'delete_note' note.id %}"
   class="btn delete-btn">
    🗑 Delete
</a>


            </div>

        </div>

        {% empty %}

        <div class="text-center">
            <h3>🌿 No notes yet</h3>
            <p>Start writing your first note.</p>
        </div>

        {% endfor %}

    </div>

</div>
<div class="text-center mt-4">

    {% if notes.has_previous %}
        <a href="?page=1" class="btn btn-outline-secondary">
            First
        </a>

        <a href="?page={{ notes.previous_page_number }}"
           class="btn btn-outline-primary">
            ← Previous
        </a>
    {% endif %}

    <span class="mx-3">
        Page {{ notes.number }}
        of
        {{ notes.paginator.num_pages }}
    </span>

    {% if notes.has_next %}
        <a href="?page={{ notes.next_page_number }}"
           class="btn btn-outline-primary">
            Next →
        </a>

        <a href="?page={{ notes.paginator.num_pages }}"
           class="btn btn-outline-secondary">
            Last
        </a>
    {% endif %}
 
   
</div>
<script>
setTimeout(function() {

    let alerts = document.querySelectorAll('.auto-dismiss');

    alerts.forEach(function(alert) {

        let bsAlert = new bootstrap.Alert(alert);
        bsAlert.close();

    });

}, 2000);
</script>
{% endblock body %}